@import "tailwindcss";

:root {
  background-color: rgb(32, 32, 32);
  color: white;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 48, 48);
}
